default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: git-clang-format
        name: git-clang-format
        description: Run git-clang-format on the staged patch
        entry: git clang-format
        language: system
        stages: [pre-commit]
        pass_filenames: false
      - id: build
        name: build
        description: Verify that the project builds correctly
        entry: ninja -C build
        language: system
        stages: [pre-push]
        always_run: true
        pass_filenames: false
      - id: ctest
        name: ctest
        description: Run unit tests
        entry: ctest --test-dir build
        language: system
        stages: [pre-push]
        always_run: true
        pass_filenames: false
